h1 {
	position: absolute;
	z-index: 666;
	align-items: center;
	font-size: 300%;
	color: black;
	margin: 10px 10px;
}

h2 {
	font-size: 250%;
}

.title {
	position: absolute;
	z-index: 665;
	right: 37.5%;
  	left: 37.5%;
  	margin-top: 30px;
  	width: 340px;
  	height: 72px;
  	background-color: darkgray;
}

/* creating template */

.container {
	width: 1280px;
	height: 800px;
	display: grid;
	grid-template-columns: 5.75% 37% 3.5% 2.5% 2.5% 2.5% 3.5% 37% 5.75%;
	grid-template-rows: auto;
}

.grid-1 > div {
	width: 100%;
	height: 100%;
}

/* road 1 */
.grid-green {
	background: #40643c;
}

.grid-gray-lg, .grid-gray-md, .grid-gray-sm {
	background: #a09c9c;
}

.grid-yellow {
	background: #f8c414;
}

.grid-white {
	background: white;
}

.grid-gray-lg {
	display: grid;
	grid-template-rows: 7.5% 7.5% 7.5% 60% 15%;
	grid-template-columns: 15% 70% 15%;
}

.dotted-white {
	display: grid;
	grid-template-rows: 9.09%;
	grid-template-columns: auto;
}

.dotted-white > span {
	width: 100%;
	height: 100%;
}

.dotted-yellow {
	display: grid;
	grid-template-rows: 25%;
	grid-template-columns: auto;
}

/* filling template */

.row1-column2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.row4-column2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

.text-box {
	font-size: 150%;
	padding: 0px 20px;
	background: darkgray;
}

.img-box {
	padding: 0px 20px;
}

img.img-profile {
	width: 100%;
	height: 70%;
}

img.polo-car {
	width: 60%;
	height: 180%;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
	align-self: flex-end;
	padding: 0% 20%;
}

span.traffic-line {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
	background: white;
	height: 10%;
	align-self: flex-end;
}

p.traffic-text {
	font-size: 200%;
	color: white;
	font-weight: 800;
	transform: rotate(180deg);
	text-align: center;
}

img.traffic-arrow {
	height: 80%;
	width: 30%;
	align-self: center;
	padding: 0% 35%;
}