h1 {
	position: absolute;
	z-index: 666;
	align-items: center;
	font-size: 300%;
	color: black;
	margin: 10px 10px;
}

.title {
	position: absolute;
	z-index: 665;
	right: 37.5%;
  	left: 37.5%;
  	margin-top: 30px;
  	width: 340px;
  	height: 72px;
  	background-color: darkgray;
}

.container {
	width: 1280px;
	height: 800px;
	display: grid;
	grid-template-columns: 5.75% 37% 3.5% 2.5% 2.5% 2.5% 3.5% 37% 5.75%;
	grid-template-rows: auto;
}

.grid-1 > div {
	width: 100%;
	height: 100%;
}

/* road 1 */
.grid-green {
	background: #40643c;
}

.grid-gray-lg, .grid-gray-md, .grid-gray-sm {
	background: #a09c9c;
}

.grid-yellow {
	background: #f8c414;
}

.grid-white {
	background: white;
}

.grid-gray-lg {
	display: grid;
	grid-template-rows: 7.5% 7.5% 7.5% 60% 15%;
	grid-template-columns: 15% 70% 15%;
}

.dotted-white {
	display: grid;
	grid-template-rows: 9.09%;
	grid-template-columns: auto;
}

.dotted-white > span {
	width: 100%;
	height: 100%;
}

.dotted-yellow {
	display: grid;
	grid-template-rows: 25%;
	grid-template-columns: auto;
}
